@import 'main/variables';

@import 'main/bootstrap';

//@import 'global/partials/icons';

@import 'main/partials/layout';
@import 'main/partials/header';
@import 'main/partials/footer';
@import 'main/partials/menu';
@import 'main/partials/content';
@import 'main/partials/how-to-play';
@import 'main/partials/about';