// Bootstrap
@import 'guide/variables';
@import 'guide/bootstrap';

// Guide
@import 'guide/partials/layout';
@import 'guide/partials/syntax';

// Helpers
@import 'global/partials/colors';
//@import 'global/partials/icons';

// Components
@import 'main/partials/header';
@import 'main/partials/footer';
@import 'main/partials/menu';

