.play-button {
  background-color: theme-color('primary');
  color: white;
  font-size: larger;
  border: none;
  border-radius: 1rem;
  width: 8rem;
  height: 4rem;
  margin: 1rem;
  transition: .2s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
}