%play-button {
  background-color: theme-color('orange');
  color: white;
  border: none;
  border-radius: 1rem;
  transition: .2s ease-out;
}

.play-button--large {
  @extend %play-button;
  font-size: larger;
  margin: 1rem;
  width: 12rem;
  height: 4rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
}

.play-button--small {
  @extend %play-button;
  padding: 1rem;
  margin: 0.5rem;
  background-color: theme-color("orange");

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}