$content-padding: 4rem !default;
$content-padding-lg: 6rem !default;
$almost-transparent: rgba($color-white, .001) !default; // workaround for Safari's linear-gradient transparent bug

/*doc
---
title: Content
name: 01-content
category: Layout
---

You can use several variations of `.content` container.

## Basic
The basic variant has transparent background so you can use it with any parent component.

```html_example
<div class="color-brand-secondary">
  <div class="content">
    <div class="content__inner">
        <div class="content__center">
          <h2 class="content__heading">Name Surname</h2>
        </div>
    </div>
  </div>
</div>
```

## Bevelead
The other variant with color backgroung which is used on the page.

```html_example
<div class="content content--bg content--beveled">
  <div class="content__inner">
    <p>
        Sed congue placerat odio a interdum. Nunc id luctus lacus, eu gravida dui. Nullam consequat ac nisi vitae commodo.
        Curabitur sed dignissim sem. Vestibulum in vehicula massa. Maecenas tempus metus odio, sit amet aliquam ipsum
        scelerisque non.
    </p>
  </div>
</div>
```
*/

.content {
  overflow: hidden;
  padding-bottom: $content-padding;
  padding-top: $content-padding;

  @include media-breakpoint-up(lg) {
    padding-bottom: $content-padding-lg;
    padding-top: $content-padding-lg;
  }

  &--beveled {
    overflow: visible;
    padding-bottom: $content-padding - 2rem;
    padding-top: $content-padding - 2rem;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-bottom: $content-padding-lg - 3rem;
      padding-top: $content-padding-lg - 3rem;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      height: 2rem;
      left: 0;
      position: absolute;
      right: 0;

      @include media-breakpoint-up(lg) {
        height: 3rem;
      }
    }

    &::before {
      top: -2rem;

      @include media-breakpoint-up(lg) {
        top: -3rem;
      }
    }

    &::after {
      bottom: -2rem;

      @include media-breakpoint-up(lg) {
        bottom: -3rem;
      }
    }
  }

  &--light {
    background: $color-white;

    &::before {
      background-image: linear-gradient(to right top, $color-white 0%, $color-white 50%, $almost-transparent 51%);
    }

    &::after {
      background-image: linear-gradient(to left bottom, $color-white 0%, $color-white 50%, $almost-transparent 51%);
    }

    &.content--beveled-reverse {
      &::before {
        background-image: linear-gradient(to left top, $color-white 0%, $color-white 50%, $almost-transparent 51%);
      }

      &::after {
        background-image: linear-gradient(to right bottom, $color-white 0%, $color-white 50%, $almost-transparent 51%);
      }
     }
   }

  &--bg {
    background: $color-background;

    &::before {
      background-image: linear-gradient(to right top, $color-background 0%, $color-background 50%, $almost-transparent 51%);
    }

    &::after {
      background-image: linear-gradient(to left bottom, $color-background 0%, $color-background 50%, $almost-transparent 51%);
    }

    &.content--beveled-reverse {
      &::before {
        background-image: linear-gradient(to left top, $color-background 0%, $color-background 50%, $almost-transparent 51%);
      }

      &::after {
        background-image: linear-gradient(to right bottom, $color-background 0%, $color-background 50%, $almost-transparent 51%);
      }
    }
  }

  &--dark {
    background: theme-color('primary');
    color: $white;

    &::before {
      background-image: linear-gradient(to right top, theme-color('primary') 0%, theme-color('primary') 50%, $almost-transparent 51%);
    }

    &::after {
      background-image: linear-gradient(to left bottom, theme-color('primary') 0%, theme-color('primary') 50%, $almost-transparent 51%);
    }

    &.content--beveled-reverse {
      &::before {
        background-image: linear-gradient(to left top, theme-color('primary') 0%, theme-color('primary') 50%, $almost-transparent 51%);
      }

      &::after {
        background-image: linear-gradient(to right bottom, theme-color('primary') 0%, theme-color('primary') 50%, $almost-transparent 51%);
      }
    }
  }

  &__inner {
    @extend .container;
  }

  &__center {
    align-self: center;
  }

  &__heading {
    font-size: 2.125rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: 2.75rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 3.25rem;
    }

    &--small {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: $content-padding;

      @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        margin-bottom: $content-padding-lg;
      }
    }
  }
}
