$content-padding: 3rem !default;
$content-padding-lg: 5rem !default;
//$almost-transparent: rgba($color-white, .001) !default; // workaround for Safari's linear-gradient transparent bug

/*doc
---
title: Content
name: 01-content
category: Layout
---

You can use several variations of `.content` container.

## Basic
The basic variant has transparent background so you can use it with any parent component.

```html_example
<div class="color-brand-secondary">
  <div class="content">
      <div class="content__inner">
          <h2 class="content__heading">How it works</h2>
      </div>
  </div>
</div>
```
*/

 .content {
    overflow: hidden;
    padding-bottom: $content-padding;
    padding-top: $content-padding;

    @include media-breakpoint-up(lg) {
        padding-bottom: $content-padding-lg;
        padding-top: $content-padding-lg;
      }
      
}
