/*doc
---
title: Footer
name: 02-footer
category: Components
---

Footer is great for mentioning authors or other useful information that are not so important as the content itself.

```html_example
<div class="footer">this is my footer</div>
```
 */

.footer {
  background: $gray-100;
  margin-top: 2rem;
  padding: 1rem;

  &__copyright {
    border-top: .0625rem solid $gray-500;
    margin-top: 1rem;
    padding: .5rem 0;
  }
}
