/*doc
---
title: Header
name: 01-header
category: Components
---

navigation is great for mentioning authors or other useful information that are not so important as the content itself.

```html_example
<div class="header">
  <h1>The header</h1>
</div>
```
 */

 .header {
  background: $gray-100;
  border-bottom: .0625rem solid $gray-500;
  color: theme-color(primary);
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  
  &--fixed {
    position: fixed;
  }
}

