body {
  background-color: $gray-100;
  font-family: 'Atma', sans-serif;
  font-size: 1rem;
  margin-top: 4rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.15rem;
  }

  .strong {
    font-size: 1.15rem;
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.35rem;
    }
  }
}

.img-responsive-width {
  max-width: 100%;
  height: auto;
}

.img-responsive-height {
  width: auto;
  max-height: 100%;
}
