/*doc
---
title: Menu
name: 03-horizontal menu
category: Components
---

Main menu in page header. Horizontal view

```html_example
<ul class="menu">
  <li class="menu__item menu__item--selected"><a href="#">position1</a></li>
  <li class="menu__item"><a href="#">position2</a></li>
  <li class="menu__item"><a href="#">position3</a></li>
  <li class="menu__item"><a href="#">position4</a></li>
</ul>
```
 */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  

  &__item {
    border-bottom: .0625rem solid $gray-500;
    background-color: theme-color(basic);
    border-radius: .2rem;
    display: block;
    padding: .5rem 1rem;
    position: sticky;
    
   
    :hover {
      background-color: theme-color(hover);
      border-radius: .2rem;
      
    }

    &--selected {
      background-color: theme-color(hover);
    }
  }

  &--fixed {
    position: fixed;
  }
}

