/*doc
---
title: Menu
name: 03-horizontal menu
category: Components
---

### Menu Toggler

```html_example
<a class="menu__toggler" href="#">
  <span class="toggler__icon"></span>
</a>
```

Main menu in page header. Horizontal view

```html_example
<ul class="menu">
  <li class="menu__item"><a href="#">Home</a></li>
  <li class="menu__item"><a href="#">My work</a></li>
  <li class="menu__item"><a href="#">About me</a></li>
  <li class="menu__item"><a href="#">Contact me</a></li>
</ul>
```

### Horizontal
Main menu in page header. It is still vertical on mobile.

```html_example
<ul class="menu menu--horizontal">
  <li class="menu__item"><a href="#">Home</a></li>
  <li class="menu__item"><a href="#">My work</a></li>
  <li class="menu__item"><a href="#">About me</a></li>
  <li class="menu__item"><a href="#">Contact me</a></li>
</ul>
```

 */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    color: theme-color('primary');
    font-size: 1rem;

    a {
      border-radius: .3rem;
      display: block;
      padding: .5rem 1rem;

      &:hover,
      &:focus {
        background: $gray-100;
        text-decoration: none;
      }
    }
  }

  &--footer {
    margin-bottom: 2rem;

    .menu__item a {
      padding: .3rem;

      &:hover,
      &:focus {
        background: none;
      }
    }

    .menu__icon {
      padding: .3rem;

      a {
        display: inline;
        padding-right: .5rem;

        &:hover,
        &:focus {
          background: none;
        }
      }
    }
  }

  &--horizontal {
    .menu__item {
      @include media-breakpoint-up(md) {
        display: inline-block;

        a {
          padding: 1.3rem;
        }
      }
    }
  }

  &__toggler {
    border: 1px solid $navbar-light-toggler-border-color;
    color: $navbar-light-color;
    font-size: $navbar-toggler-font-size;
    line-height: 1;
    margin: .68rem 1rem;
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;

    @include border-radius($navbar-toggler-border-radius);

    @include hover-focus {
      text-decoration: none;
    }

    &:hover,
    &--active {
      background: $navbar-light-toggler-border-color;
    }

    &--sticked {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__collapse {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-basis: auto;
    }

    &.show {
      display: block;
    }
  }
}

.toggler__icon {
  background: $navbar-light-toggler-icon-bg no-repeat center center;
  background-size: 100% 100%;
  content: '';
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
}
