/*doc
---
title: Menu
name: 03-horizontal menu
category: Components
---

Main menu in page header. Horizontal view

```html_example
<ul class="menu">
  <li class="menu__item menu__item--selected"><a href="#">position1</a></li>
  <li class="menu__item"><a href="#">position2</a></li>
  <li class="menu__item"><a href="#">position3</a></li>
  <li class="menu__item"><a href="#">position4</a></li>
</ul>
```
 */

.menu {
  border-bottom: .0625rem solid $gray-500;
  list-style-type: none;

  &__item {
    background-color: theme-color(basic);
    border-radius: 10%;
    display: inline-grid;
    line-height: 3rem;
    margin-left: 2rem;
    text-align: center;
    width: 6rem;

    :hover {
      background-color: theme-color(hover);
      border-radius: 10%;
    }

    &--selected {
      background-color: theme-color(hover);
        }
    }

  &--fixed {
    position: fixed;
}  
}
