/*doc
---
title: Portfolio
name: 01-Portfolio
category: Content
---

Portfolio class allows you to do the hover effect for displays that are larger then md. For smaller resolution there is only "Show more" button.

```html_example
<div class="portfolio">
   <img class="img-fluid" src="../images/clients/escootie-md.jpg" height="480">
   <div class="overlay">
         <h2>Clients name</h2>
         <h3>Design/logo</h3>
         <a class="info" href="#">Show more</a>
   </div>
</div>

```
 */

.portfolio {
  border-radius: .3rem;
  cursor: default;
  display: inline-block;
  margin-bottom: .4rem;
  overflow: hidden;
  position: relative;
  text-align: left;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }

  &:hover {
    img {
      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .overlay {
      filter: alpha(opacity = 00);
      opacity: 1;
    }

    h2,
    h3,
    .info {
      filter: alpha(opacity = 100);
      opacity: 1;
      -ms-transform: translatey(0);
      -webkit-transform: translatey(0);
      transform: translatey(0);
    }

    .info {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
   }

  .overlay {
    background-color: transparent;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;

    @include media-breakpoint-up(md) {
      background-color: $color-portfolio;
      opacity: 0;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }

  h2 {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1.625rem .625rem 0 1.625rem;
    position: relative;
    text-transform: uppercase;
    -ms-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  h3 {
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 0 .625rem .625rem 1.625rem;
    position: relative;
    text-transform: uppercase;
    -ms-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 }

  .info {
    background-color: $color-portfolio;
    border: .0625rem solid $color-white;
    border-radius: .3rem;
    color: $color-white;
    display: inline-block;
    filter: alpha(opacity = 0);
    margin: 4.125rem 0 0 1.625rem;
    opacity: 1;
    padding: .4375rem .875rem;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      opacity: 0;
    }

    @include media-breakpoint-only(lg) {
      margin-top: 8.125rem;
    }

    @include media-breakpoint-only(xl) {
      margin-top: 38%;
    }

    &:hover {
      box-shadow: 0 0 .3125rem $color-white;
    }
  }
}
