/*doc
---
title: Portfolio
name: 04-Portfolio
category: Components
---

navigation is great for mentioning authors or other useful information that are not so important as the content itself.

```html_example
// to do example

```
 */

.hovereffect {
  cursor: default;
  float: left;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: center;

   &:hover {
      img{  
         -ms-transform: scale(1.2);
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
      }

      .overlay {
         opacity: 1;
         filter: alpha(opacity=100);
      }

      h2, a.info {
         opacity: 1;
         filter: alpha(opacity=100);
         -ms-transform: translatey(0);
         -webkit-transform: translatey(0);
         transform: translatey(0);
      }

      a.info {
         -webkit-transition-delay: .2s;
         transition-delay: .2s;
      }
   }

   .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out
   }

   img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      -webkit-transition: all .4s linear;
      transition: all .4s linear;
   }

   h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size:17px;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(-100px);
      -ms-transform: translatey(-100px);
      transform: translatey(-100px);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      padding: 10px;
   }


   a.info {
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      margin: 50px 0 0;
      padding: 7px 14px;

      &:hover{
         box-shadow: 0 0 5px #fff;
      }
   }
}
