@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
        primary: #c3073f,
        secondary: #1a1a1d,
        basic: #fff,
);

$color-black: #000;
$color-background: lighten(theme-color('primary'), 53%);;
$color-white: #fff;
$color-portfolio: rgba(0, 0, 0, .6);


$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;

$breadcrumb-divider: quote('>');

$header-height: 4.188rem;
$header-height-md: 4.188rem;

@import '../../node_modules/bootstrap/scss/variables';
