@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
        primary: #29d123,
        secondary: #3899db,
        basic: #fff,
        hover: #ecf0f1,
);

$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;

$breadcrumb-divider: quote('>');

$header-height: 4.188rem;
$header-height-md: 4.188rem;

@import '../../node_modules/bootstrap/scss/variables';
