@import '../../node_modules/bootstrap/scss/functions';

$theme-colors: (
        primary: #0f880f,
        secondary: #60aa40,
        basic: #fff,
);

$color-black: #000;
$color-background: lighten(theme-color('secondary'), 20);
$color-white: #fff;
$color-portfolio: rgba(0, 0, 0, .6);


$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;

$breadcrumb-divider: quote('>');

$header-height: 4.188rem;
$header-height-md: 4.188rem;

@import '../../node_modules/bootstrap/scss/variables';
