@import '../variables';

$color-grid: #563d7c;

body {
  background-color: $white;
  color: $gray-900;
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  line-height: 1.42857143;
}

h1 {
  font-weight: 400;
  padding-top: 4.375rem;
}

h2,
h3 {
  font-weight: 400;
}

.sidebar {
  margin-top: 4.375rem;

  @include media-breakpoint-up(sm) {
    position: fixed;

    width: 10.625rem;
  }

  @include media-breakpoint-up(md) {
    width: 13.4375rem;
  }

  @include media-breakpoint-up(xl) {
    width: 15.625rem;
  }
}

.navbar {
  @include media-breakpoint-down(xs) {
    .clearfix {
      float: none;
    }

    .navbar-nav {
      .nav-item {
        float: none;

        margin-left: 0;
      }
    }
  }

  .navbar-toggler {
    float: left;
    margin-left: -.8125rem;
  }

  .navbar-brand {
    padding: 0;
  }

  .clearfix {
    float: left;
  }
}

.docs__footer {
  margin: 1.25rem 0;
}

.docs__color-box {
  border: .0625rem solid $gray-200;
  font-size: .75rem;
  margin-bottom: .3125rem;
  min-height: 9.375rem;
  padding: .625rem 0 0 .625rem;
}

.docs__icon {
  min-height: 8.25rem;

  .icon {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.code-example-padded-bottom {
  padding-bottom: 1.5rem;
}

.code-example-type {
  .table {
    .type-info {
      color: $gray-300;
      vertical-align: middle;
    }

    td {
      border-color: $gray-200;
      padding: .9375rem 0;

      //tr:first-child & {
      //  border-top: 0;
      //}
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.code-example-bg-classes p {
  padding: .9375rem;
}

.code-example {
  background-color: $white;
  border: .0625rem solid $gray-200;
  border-radius: .25rem .25rem 0 0;
  box-shadow: inset 0 .1875rem .375rem rgba($gray-500, .05);
  margin: 0 0 .9375rem;
  padding: 2.8125rem .9375rem .9375rem;
  position: relative;

  &::after {
    color: $gray-300;
    content: 'Example';
    font-size: .75rem;
    font-weight: 700;
    left: .9375rem;
    letter-spacing: .0625rem;
    position: absolute;
    text-transform: uppercase;
    top: .9375rem;
  }

  + .highlight,
  + .zero-clipboard + .highlight {
    border-radius: 0 0 .25rem .25rem;
    border-width: .0625rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1rem;
  }

  .container {
    width: auto;
  }

  > p > .close {
    float: none;
  }

  > .img-circle,
  > .img-rounded,
  > .img-thumbnail {
    margin: .3125rem;
  }

  > .table-responsive > .table {
    background-color: $white;
  }

  > .form-control {
    resize: vertical;
  }

  > .list-group {
    max-width: 25rem;
  }

  .pagination {
    margin-bottom: .625rem;
    margin-top: .625rem;
  }

  > .dropdown-toggle {
    float: left;
  }

  > .dropdown-menu {
    clear: left;
    display: block;
    margin-bottom: .3125rem;
    position: static;
  }
}

.code-example-modal {
  background-color: $gray-100;

  .modal {
    bottom: auto;
    display: block;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
  }

  .modal-dialog {
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.code-example-tooltip {
  .tooltip {
    display: inline-block;
    margin: .625rem 1.25rem;
    opacity: 1;
    position: relative;
  }
}

.code-example-popover {
  background-color: $gray-100;
  padding-bottom: 1.5rem;

  .popover {
    display: block;
    float: left;
    margin: 1.5rem;
    position: relative;
    width: 16.25rem;
  }
}

.code-example-standalone {
  border-radius: .25rem;
}

.highlight {
  background-color: $gray-100;
  border: .0625rem solid $gray-100;
  border-radius: .25rem;
  margin-bottom: .875rem;
  padding: .5625rem .875rem;

  pre {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;

    code {
      color: $gray-900;
      font-size: inherit;

      &:first-child {
        display: inline-block;
        padding-right: 2.8125rem;
      }
    }
  }
}

.show-grid [class^=col-] {
  background-color: rgba($color-grid, .15);
  border: .0625rem solid rgba($color-grid, .2);
  padding-bottom: .625rem;
  padding-top: .625rem;
}

.show-grid,
.bs-example-tabs .nav-tabs {
  margin-bottom: .9375rem;
}

@media (max-width: 30rem) {
  .code-examples {
    margin-left: -.625rem;
    margin-right: -.625rem;
  }

  .code-examples > [class^=col-] {
    padding-left: .625rem;
    padding-right: .625rem;
  }
}

.bg-faded {
  background-color: $bg-faded-color;
}
