<div class="row text-center">
    <div class="col-12 col-md-6">
        <h2 class="content__heading">Write a letter to your future self</h2>
        <p>
            Timemo is at its core a messaging tool, a vault allowing you to write a letter to your future self.</span>
        </p>
        <p>
            Once sealed, the letter cannot be opened or edited until the seal date.
        </p>
        <button class="play-button--large" onclick="window.location= '<%= appUrl %>'">Start writing</button>
    </div>
    <div class="col-12 col-md-6">
        <img class="img-fluid d-none d-md-inline shadow-lg rounded-lg" src="../images/home.png" alt="home page"
             width="500" height="425">
        <img class="img-fluid d-md-none shadow rounded" src="../images/home.png" alt="home page" width="340"
             height="298">
    </div>
</div>
