<div class="row text-center">
    <div class="col-12">
        <h2 class="content__heading">Contacts</h2>
        <p>Have an idea how to improve BiteMe? Got some feedback? Or just want to say hi? Don't hesitate to get in
            touch!</p>
    </div>
    <div class="col-12 col-md-6 content__center">
        <p class="content__heading--contacts">
            E-mail: <a href="mailto:info@startbite.me">info@startbite.me</a>
        </p>
        <p class="content__heading--contacts">
            Source code: <a href="https://github.com/snake-biteme" target="_blank">Github</a>
        </p>
    </div>
    <div class="col-12 col-md-6">
        <img class="img-fluid d-none d-md-inline" src="../images/logo-round-colour.png" alt="Favicon"
             width="250">
        <img class="img-fluid d-md-none shadow rounded" src="../images/logo-round-colour.png" alt="Favicon" width="150">
    </div>
</div>