<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pb-4">
                <img src="../images/logo-full-colour.png" alt="logo" height="60px">
            </div>
            <div class="col-12 col-md-4">
                <h5>Menu</h5>
                <ul class="menu menu--footer">
                    <li class="menu__item"><a href="#about">About</a></li>
                    <li class="menu__item"><a href="#memo-features">Memo</a></li>
                    <li class="menu__item"><a href="#video">Video</a></li>
                    <li class="menu__item"><a href="#contacts">Contacts</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h5>Get in touch</h5>
                <ul class="menu menu--footer">
                    <li class="menu__item"><a href="mailto:info@startbite.me">info@startbite.me</a>
                    <li class="menu__item"><a href="https://github.com/snake-biteme" target="_blank">Github</a>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">
            This site was created by tinazhouhui &copy; {{ year }}
        </p>
    </div>
</footer>

<script src="../js/app-main.js"></script>
<% if (version === "@dev") { %>
<script id="__bs_script__">//<![CDATA[
	document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.js?v=2.24.4'><\/script>".replace("HOST", location.hostname));
	//]]></script>
<% } %>
</body>
</html>
