{% set pageTitleMain = 'Adela Ticha - Graphic Designer' %}
{% set pageDescriptionMain = 'I am graphic designer, working in Inkscape. I am good at pointing out unique facts and use them for logo design. I am also focused on detail.' %}
{% set pageKeywordsMain = 'logo, design, graphic, graphic design, application design, Designer, Graphic Designer, Adela Ticha, Ticha, Adela' %}

{% if pageTitle is defined %}
	{% set title = pageTitle + ' | Adela Ticha' %}
{% else %}
	{% set title = pageTitleMain %}
{% endif %}

{% set description = pageDescription if pageDescription is defined else pageDescriptionMain %}
{% set keywords = pageKeywords if pageKeywords is defined else pageKeywordsMain %}

{% set image = pageImage if pageImage is defined else '/images/cover.jpg' %}
{% set imageWidth = pageImageWidth if pageImageWidth is defined else 2900 %}
{% set imageHeight = pageImageHeight if pageImageHeight is defined else 1500 %}

<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
	<meta property="og:title" content="{{ title }}">
	<meta name="twitter:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ keywords }}">
	<meta name="apple-mobile-web-app-title" content="Adela Ticha - Graphic Designer">
	<meta name="author" content="Jiri Tichy">
	<meta name="twitter:site" content="Adela Ticha - Graphic Designer">
	<meta name="application-name" content="Adela Ticha - Graphic Designer">
	<meta property="og:site_name" content="Adela Ticha - Graphic Designer">
	<meta property="og:type" content="service">
	<meta name="twitter:card" content="summary_large_image">

	<meta property="og:image:width" content="{{ imageWidth }}">
	<meta property="og:image:height" content="{{ imageHeight }}">
	<meta property="og:image" content="<%= pageUrl %>{{ image }}">
	<meta name="twitter:image" content="<%= pageUrl %>{{ image }}">
	<meta itemprop="image" content="<%= pageUrl %>{{ image }}">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">

    <link rel="stylesheet" href="/css/style-main.min.css?v<%= version %>">

    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<% if (typeof(noRobots) !== "undefined" && noRobots) { %>
			<meta name="robots" content="noindex, nofollow">
		<% } %>

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= googleAnalytics %>"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '<%= googleAnalytics %>');
	</script>

<!-- Amazon CloudWatch RUM -->
<script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','b27c87b9-95f7-4b6b-ac6a-ae196e809bef','1.0.0','eu-central-1','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::672034629009:role/RUM-Monitor-eu-central-1-672034629009-3358258810461-Unauth",identityPoolId:"eu-central-1:0c6a164c-034a-40c8-9ba8-c1d340d9d55e",endpoint:"https://dataplane.rum.eu-central-1.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:false});</script>

</head>
<body>
