{% include 'components/header-base.njk' %}

<header class="header header--fixed">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="col-12 col-md-4">
                <a class="header__logo" href="/#">
                    <img src="../images/logo.png" alt="logo" height="50">
                </a>
                <a class="menu__toggler menu__toggler--sticked d-md-none" id="main-menu-toggler" href="#"
                data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="toggler__icon"></span>
                </a>
            </div>
            <div class="col-12 col-md-auto">
                <div class="menu__collapse" id="main-menu">
                    <ul class="menu menu--horizontal">
                        <li class="menu__item"><a href="#about">About</a></li>
                        <li class="menu__item"><a href="#rules">Rules</a></li>
                        <li class="menu__item"><a href="#contacts">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>