{% set pageTitleMain = 'BiteMe - Online Multiplayer Snake' %}
{% set pageDescriptionMain = 'BiteMe is an online multiplayer snake game played on a shared screen. Enjoy some competitive fun with your friends by playing this all-time classic! Simply scan the QR code and control the snake on the screen using your phone.' %}
{% set pageKeywordsMain = 'game, online, multiplayer, shared screen, snake, multiplayer snake' %}

{% if pageTitle is defined %}
	{% set title = pageTitle %}
{% else %}
	{% set title = pageTitleMain %}
{% endif %}

{% set description = pageDescription if pageDescription is defined else pageDescriptionMain %}
{% set keywords = pageKeywords if pageKeywords is defined else pageKeywordsMain %}

{% set image = pageImage if pageImage is defined else '/images/logo-cover.png' %}
{% set imageWidth = pageImageWidth if pageImageWidth is defined else 2900 %}
{% set imageHeight = pageImageHeight if pageImageHeight is defined else 1500 %}

<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="manifest" href="/manifest.json">
    <title>{{ title }}</title>
	<meta property="og:title" content="{{ title }}">
	<meta name="twitter:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ keywords }}">
	<meta name="apple-mobile-web-app-title" content="{{ title }}">
	<meta name="author" content="Tina Zhou Hui">
	<meta name="twitter:site" content="{{ title }}">
	<meta name="application-name" content="{{ title }}">
	<meta property="og:site_name" content="{{ title }}">
	<meta property="og:type" content="service">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:url"content="<%= pageUrl %>}" />

	<meta property="og:image:width" content="{{ imageWidth }}">
	<meta property="og:image:height" content="{{ imageHeight }}">
	<meta property="og:image" content="<%= pageUrl %>{{ image }}">
	<meta name="twitter:image" content="<%= pageUrl %>{{ image }}">
	<meta itemprop="image" content="<%= pageUrl %>{{ image }}">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style-main.min.css?v<%= version %>">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<% if (typeof(noRobots) !== "undefined" && noRobots) { %>
			<meta name="robots" content="noindex, nofollow">
		<% } %>

	<!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '<%= googleAnalytics %>');</script>
    <!-- End Google Tag Manager -->

<!-- Amazon CloudWatch RUM -->
	<script>(function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','b27c87b9-95f7-4b6b-ac6a-ae196e809bef','1.0.0','eu-central-1','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',{sessionSampleRate:1,guestRoleArn:"arn:aws:iam::672034629009:role/RUM-Monitor-eu-central-1-672034629009-3358258810461-Unauth",identityPoolId:"eu-central-1:0c6a164c-034a-40c8-9ba8-c1d340d9d55e",endpoint:"https://dataplane.rum.eu-central-1.amazonaws.com",telemetries:["performance","errors","http"],allowCookies:true,enableXRay:false});</script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=<%= googleAnalytics %>"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
