<h2 class="content__heading">Want to know more?</h2>
<div class="row text-center">
    <div class="col-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LK3VkUqv2XU"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <p>
            Here is a short video explaining how it works as well as the stack and technologies used to make this
            possible.</span>
        </p>
        <p>
            This game was my solo project when I was attending a coding bootcamp 👩‍💻 as part of my career switch
            journey. I had to fit the whole thing in just 7 days, from design all the way to the final video
            presentation 😬. I didn't sleep much.
        </p>
        <button class="play-button--large">Go play</button>
    </div>
</div>
