<h2 class="content__heading">Why should you write a memo?</h2>
<div class="row text-center">
    <div class="col-12 col-md-6">
        <img class="img-fluid d-none d-md-inline shadow-lg rounded-lg" src="../images/write-memo.png" alt="write memo page"
             width="460">
        <img class="img-fluid d-md-none shadow rounded mb-4" src="../images/write-memo.png" alt="write memo page" width="300">
    </div>
    <div class="col-12 col-md-6">
        <p>
            What Timemo is trying to do is take the context of present but think about the future.
        </p>
        <p>
            From the perspective of the <strong>you that is writing</strong>, it frames you to look at the bigger picture,
            think about the unknown and future goals.
        </p>
        <p>
            From the perspective of the <strong>you that is then reading</strong>, it is a great retrospective moment,
            to see the large changes that escape us in the incremental ones of day to day life, to remind yourself of who you were.
        </p>
        <button class="play-button--large">Write a memo</button>
    </div>
</div>
