{% include 'components/header.njk' %}
<div class="content content--light content--beveled ">
  <div class="content__inner">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="content__heading">Ooops, this page does not exist..</h2>
        <h4>
          Please check the URL or go to the <a href="/#"> homepage</a>.
        </h4>
      </div>
    </div>
  </div>
</div>
{% include 'components/footer.njk' %}
