{% include 'components/header.njk' %}
<div class="content content--light content--beveled" id="about">
    <div class="content__inner">
        {% include 'components/about.njk' %}
    </div>
</div>
<div class="content content--bg content--beveled" id="how-to-play">
    <div class="content__inner">


            {% include 'components/how-to-play.njk' %}
        </div>
    </div>
</div>

<div class="content content--light content--beveled" id="video">
    <div class="content__inner">
        <h2 class="content__heading">Want to know more?</h2>

        {% include 'components/video-explanation.njk' %}
    </div>
</div>
<div class="content content--dark content--beveled" id="contacts">
    <div class="content__inner">
        <div class="row text-center">
            {% include 'components/contact.njk' %}
        </div>
    </div>
</div>
{% include 'components/footer.njk' %}
