{% include 'components/header.njk' %}
<div class="content content--light content--beveled" id="about-me">
    <div class="content__inner">
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <h2 class="content__heading">Let's play some snake!</h2>
                <p>
                    BiteMe is an online multiplayer snake game played on a shared screen</span>.
                </p>
                <p> 
                    Enjoy some competitive fun with your friends by playing this all-time classic! Simply scan the QR code and control the snake on the screen using your phone.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid d-none d-md-inline shadow-lg rounded-lg" src="../images/game.png" alt="game capture" width="500" height="425">
                <img class="img-fluid d-md-none shadow rounded" src="../images/game.png" alt="game capture" width="340" height="298">
            </div>
        </div>
    </div>
</div>
<div class="content content--bg content--beveled" id="rules">
    <div class="content__inner">
        <div class="row text-center justify-content-center">
            <div class="col-12">
                <h2 class="content__heading">Rules</h2>
            </div>
            {% include 'components/rules.njk' %}
        </div>
    </div>
</div>
<div class="content content--dark content--beveled" id="contact-me">
    <div class="content__inner">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="content__heading">Contacts</h2>
            </div>
            <div class="col-12 col-md-6 content__center">
                <p class="content__heading--contacts">
                    Phone: <a href="tel:+420776470413">+420 776 470 413</a>
                 </p>
                 <p class="content__heading--contacts">
                    E-mail: <a href="mailto:adela@ticha.fun">adela@ticha.fun</a>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid d-none d-md-inline shadow-lg rounded-lg" src="../images/favicon.png" alt="Favicon" width="250">
                <img class="img-fluid d-md-none shadow rounded" src="../images/favicon.png" alt="Favicon" width="150">
            </div>
        </div>
    </div>
</div>
{% include 'components/footer.njk' %}
