.color-brand-primary {
  background-color: theme-color('primary');
}

.color-brand-secondary {
  background-color: theme-color('secondary');
}

.color-system-success {
  background-color: theme-color('success');
}

.color-system-warning {
  background-color: theme-color('warning');
}

.color-system-info {
  background-color: theme-color('info');
}

.color-system-danger {
  background-color: theme-color('danger');
}

.color-system-error {
  background-color: theme-color('error');
}
