@import '../../../temp/css/icons';

/*doc
---
title: Icons
name: 02-icons
category: Base
---

Make sure to follow the Gulp log to see if there is any new undocumented icon.

For example: `WARNING: Documentation missing for icon: external-link`

<div class="row text-center mb-4">
  <div class="col-xs-6 col-sm-4 col-lg-3">
    <div class="docs__icon">
      <span class="icon icon-sign-in"></span>
      <p>
        <code>.icon icon-sign-in</code>
      </p>
    </div>
  </div>
</div>
*/
