{% set pageDate = '20. 4. 2021' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = 'I have learned a lot during the cooparation with eScootie. In the end we came up with the great logo that exceeded our expectations.' %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header.njk' %}

<div class="content content--light content--beveled" id="about-me">
    <div class="content__inner">
        <h4 class="client-title" id="page-title">Logo</h4>
        <div class="client-body" id="page-body">
            <h3>Client 1</h3>
            <p>
                Description of Client 1 - Here should be one or two sentences about the client, for example what industry
                s/he
                from, etc.
            </p>
            <p><a href="https://www.escootie.net/"> www.escootie.net</a></p>
            <img class="img-fluid d-block d-sm-block d-md-none" src="../images/showcase-500x333.jpg" alt="Showcase">
            <img class="img-fluid d-none d-md-block d-lg-none" src="../images/showcase-800x533.jpg" alt="Showcase">
            <img class="img-fluid d-none d-lg-block" src="../images/showcase-1140x760.jpg" alt="Showcase">
            <img class="img-fluid d-block d-sm-block d-md-none" src="../images/showcase2-500x332.jpg" alt="Showcase 2">
            <img class="img-fluid d-none d-md-block d-lg-none" src="../images/showcase2-800x531.jpg" alt="Showcase 2">
            <img class="img-fluid d-none d-lg-block" src="../images/showcase2-1140x757.jpg" alt="Showcase 2">
        </div>
    </div>
</div>

{% include 'components/footer.njk' %}
