{% set pageDate = '20. 4. 2021' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = 'I have learned a lot during the cooparation with eScootie. In the end we came up with the great logo that exceeded our expectations.' %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header.njk' %}

<div class="content content--light content--beveled" id="about-me">
    <div class="content__inner">
        <h4 class="client-title" id="page-title">Logo</h4>
        <div class="client-body" id="page-body">
            <h3>eScootie</h3>
            <p>
                eSootie was one of my first projects ever. Thanks to great cooparation with Tina (Founder of eScootie), I've learned many things that set me up on the right path.
            </p>
            <p>
                For eScootie, I designed the logo that is used on the website.
            </p>
            <p><a href="https://www.escootie.net/"> www.escootie.net</a></p>
            <img class="img-fluid m-5" src="../images/clients/eScootie-logo.svg" alt="eScootie Logo">
            <p class="text-center">
                <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/eScootie-mobile-540x265.png" alt="eScootie Web">
                <img class="img-fluid d-none d-md-inline-block d-xl-none" src="../images/clients/eScootie-mobile-700x344.png" alt="eScootie Web">
                <img class="img-fluid d-none d-xl-inline-block" src="../images/clients/eScootie-mobile-1080x530.png" alt="eScootie Web">
            </p>
        </div>
    </div>
</div>

{% include 'components/footer.njk' %}
