{% set pageDate = '21. 4. 2021' %}
{% set client = clients[pageDate] %}
{% set pageTitle = client.name %}
{% set pageDescription = 'My pasion for graphic design started during my studies at University of Ostrava. Here is the showcase of my screening portraits.' %}
{% set pageImage = client.image + '-md.jpg' %}

{% include 'components/header.njk' %}
<div class="content content--light content--beveled" id="about-me">
    <div class="content__inner">
        <h4 id="page-title">Portrait</h4>

        <div id="page-body">
            <h3>University of Ostrava</h3>
            <p>
                My pasion for graphic design started during my studies at University of Ostrava. Here is the showcase of my screening portraits.
            </p>
            <p><a href="https://www.osu.eu/"> www.osu.eu</a></p>
            <p class="mb-5 text-center">
                <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/screening-portrait-grandpa-264x395.jpg" alt="Screening Portrait Grandpa">
                <img class="img-fluid d-none d-md-inline-block d-lg-none" src="../images/clients/screening-portrait-grandpa-344x512.jpg" alt="Screening Portrait Grandpa">
                <img class="img-fluid d-none d-lg-inline-block" src="../images/clients/screening-portrait-grandpa-530x789.jpg" alt="Screening Portrait Grandpa">
            </p>
            <p class="text-center">
                <img class="img-fluid d-inline-block d-sm-inline-block d-md-none" src="../images/clients/screening-portrait-grandma-265x404.jpg" alt="Screening Portrait Grandma">
                <img class="img-fluid d-none d-md-inline-block d-lg-none" src="../images/clients/screening-portrait-grandma-344x524.jpg" alt="Screening Portrait Grandma">
                <img class="img-fluid d-none d-lg-inline-block" src="../images/clients/screening-portrait-grandma-530x808.jpg" alt="Screening Portrait Grandma">
            </p>
        </div>
    </div>
</div>

{% include 'components/footer.njk' %}
