#name: Build
#on:
#  push:
#    branches:
#      - "*"
#jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#        with:
#          fetch-depth: 0
#
#      - name: Build Image
#        run: docker-compose up -d
#
#      - name: Clean & Build
#        run: docker-compose run website-portfolio make -C production/ clean package
#
#      - name: Store Artifact
#        uses: actions/upload-artifact@v1
#        with:
#          name: ticha-website # double zipping issue: https://github.com/actions/upload-artifact/issues/39
#          path: production/release/ticha-website.zip
#
#      - name: Release
#        run: make -C production/ release AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
#        env:
#          AWS_EC2_METADATA_DISABLED: "true" # https://github.com/actions/runner/issues/503
#
#      - name: Deploy
#        run: |
#          curl \
#          -X POST \
#          -H "Accept: application/vnd.github.v3+json" \
#          -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
#          --data '{"ref": "refs/heads/master"}' \
#          https://api.github.com/repos/jiritichy/website-infrastructure/actions/workflows/website.yml/dispatches
